:root{
--bg:#1F1F1F;
--text:#ECECEC;
--bd-light:#232323;
--dark:#1B1B1B;
--border:#3e3a3a;
--text-light:#9EA0A5;
}
   
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f0f0f; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  gap: 10px;
  transition: opacity 0.6s ease;
}

.loader-circle {
  width: 45px;
  height: 45px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#preloader h2 {
  color: #fff;
  margin: 15px 0 0;
  font-size: 24px;
  font-weight: 600;
}

#preloader p {
  color: #aaa;
  font-size: 16px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#preloader.hide {
  opacity: 0;
  pointer-events: none;
}

body {

      background: var(--bg);
      color: var(--text) !important;
      font-family: "Segoe UI", sans-serif;
      padding-top: 80px;
    }
    .active{
      color: #d9d9d9 !important;
    }
   .navbar{
     box-shadow: 0 0 10px rgba(255,255,255,0.05);
     background: var(--bg);
    
   }
    .nav-link:hover {
      color: #fff !important;
    }

    .offcanvas {
      background: #1B1B1B;
      width: 300px !important;
    }

    .offcanvas a {
     
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 15px 0px;
     text-decoration: none;
    }

    .offcanvas a:hover {
      color: #fff !important;
    }

    .social-icon {
      width: 42px !important;
      height: 42px !important;
      background: #1f1f1f;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .2s;
    }

    
.home .btn{
    
    color: #ECECEC;
    border: 2px solid #515151;
    width: 170px;
}

@media (max-width:439px){
.home .se{
  margin-bottom: 10px;
}
}
.se{
    background-color: #515151;
}
.letf >h1{
    font-size: xx-large;
    color: var(--text) !important;
}
.para{
    font-size: large;
    line-height: 35px;
    
}


.profile-wrapper {
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.profile-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #372f2f;
}
@media (max-width: 768px) {
  .profile-wrapper {
    max-width: 240px;
  }
}

@media (max-width: 480px) {
  .profile-wrapper {
    max-width: 200px;
  }
}

.profile-glow {
  position: absolute;
  inset: -20px;
  border-radius: 50%;
 
box-shadow:
  0 0 22px rgba(119, 100, 105, 0.35),
  inset 0 0 16px rgba(106, 91, 95, 0.25);

  z-index: -1;
}




.contact-icons a{
    color: var(--secondary);
    font-size: x-large;
    margin-top: 20px;
     transition: all 0.2s ease;
}
.contact-icons a:hover{
    color: var(--text);
    margin-top: 10px;
   
}

.head{
    font-weight: bold;
    color: var(--bg);
    background-color: #ECECEC;
    border-radius: 12px;
    font-size: x-large;
    text-align: center;
    width: 300px;

   padding: 7px ;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  
}

.skillcard {
  background: var(--bd-light);
  border-radius: 16px;
  padding: 25px;
  color: #fff;
  transition: .3s ease-in-out;
}
.skillcard:hover{
  transform: scale(1.06);
}
.skillcard h3 {
  font-size: 24px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  background: #1B1B1B;
  padding: 10px 16px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
}


@media (max-width: 668px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


.projects-section {
  padding: 50px 0;
}

.containe {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.projectcard {
  background: var(--bd-light);
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s ease;
}

.projectcard:hover {
  transform: scale(1.06);
}

.project-img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
 
}

.project-content {
  padding: 25px;
  color: #fff;
}

.project-content h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

.project-content p {
  color: var(--text-light);
  line-height: 1.6;
}

.tech span {
  display: inline-block;
  background: var(--dark);
  padding: 6px 15px;
  margin-right: 8px;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 14px;
}


.timeline {
  position: relative;
  display: grid;
  gap: 60px;
  width: 98%;
  margin: auto;

}


.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 3px;
  height: 100%;
  background: rgba(66, 59, 59, 0.4);
  box-shadow: 0 0 10px rgba(81, 72, 72, 0.4);
  transform: translateX(-50%);
}

.row {
  position: relative;
  display: flex;
}

.row:nth-child(odd) {
  justify-content: flex-start;
}


.row:nth-child(even) {
  justify-content: flex-end;
}

.card {
  width: 45%;
  background: var(--bd-light);
  padding: 25px;
  border-radius: 15px;
  color: #fff;
  position: relative;
}
.card:hover{
  box-shadow: 0 0px 10px rgba(86, 85, 85, 0.3);
}

.card::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 12px;
  height: 12px;
  background: rgba(169, 169, 169, 0.4);
  border-radius: 50%;
  
}


.row:nth-child(odd) .card::before {
  right: -40px;
}

.row:nth-child(even) .card::before {
  left: -40px;
}

@media(max-width: 768px) {
  .timeline::before {
    left: 10px;
  }

  .row {
    justify-content: flex-start !important;
  }

  .card {
    width: 80%;
    margin-left: 40px;
  }

  .card::before {
    left: -30px !important;
    right: auto !important;
  }
}



.contact-grid {
  display: grid;
  gap: 25px;
  padding: 0 100px;
  
  margin: auto;
  justify-content: center;
  
}

@media (min-width: 992px) {
  .contact-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}

.icon-wrapper {
  background: var(--dark);
  width: 50px;
  height: 50px;
  margin: 0 auto 15px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-box {
  background: var(--bd-light);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #302f2f;
  animation: float 3s ease-in-out infinite;
  transition: 0.3s;
}

.contact-box:hover {
  transform: translateY(-5px) scale(1.03);
   box-shadow: 0 0px 10px rgba(86, 85, 85, 0.3);
}

@keyframes float {
  0%,100% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
 
}
section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}
section.show {
  opacity: 1;
  transform: translateY(0);
}
.arrow{
  font-size: x-large;
  animation: float 2s ease-in-out infinite;
}
@keyframes arrow{
   0%,100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
 
}

.line{
  height: 10px;
  width: 100%;
  color: var(--text-light);
  margin-top: 130px;
  margin-bottom:30px;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  font-size: larger;
}
footer a{
  color: var(--text);
  font-weight: bolder;
 text-decoration: none;
}